apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: game-app
  template:
    metadata:
      labels:
        app: game-app
    spec:
      containers:
        - name: game-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8080
