body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
}

.game-container {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 8px;
  width: 100px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #00d4ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #00aacc;
}
